@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 2px;
  }

:hover::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
  }
